*{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800PX;
    font-style: normal;
  }

/* nav section */
nav{
    display: flex;
    padding: 10px 10rem;
    /* width: 100%; */
    justify-content: space-between;
    /* border: 2px solid red; */
}
.title{
    display: flex;
    justify-content: space-between;
    border: 2px solid white
}
.title_img{
    height: 50%;
    /* width: 50%; */
    padding-right: 20px;
}
.title_name{
    color: blue;
    font-size: 24px;
}
.nav_list{
    display: flex;
    list-style-type: none
}
.nav_list li{
    padding: 0 10px;
    font-size: 20px;
    font-weight:bold;
}
.nav_list li:hover{
    color: red;
    transition: 1s;
}